@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic,700,700italic);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/angular-ui-select/dist/select.min.css";
@import "../bower_components/angular-toastr/dist/angular-toastr.css";
@import "icons";
$blue: #1fc8ec;
$orange: #f29c2c;
$red: #ea5249;
$green: #35c565;
$yellow: #f4dc11;
$border-color: #e5e5e5;
$brand-primary: $blue;
$brand-info: $yellow;
$brand-warning: $orange;
$brand-danger: $red;
$brand-success: $green;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "template/icons";
@import "template/main";
@import "template/responsive";
@import "custom-switch";
button,
div,
input {
    outline: none !important;
}
body {}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
    &:focus {
        outline: none !important;
    }
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
.mt20 {
    margin-top: 20px;
}
.logo img {
    max-height: 100%;
    width: auto;
}
.menu-options {
    margin-top: 15px;
}
.logo {
    padding: 10px 0 10px 25px;
}
.account-form > form .feild > .login-w {
    background: #125daa none repeat scroll 0 0;
    border: medium none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: #ffffff;
    float: left;
    font-family: Montserrat;
    font-size: 12px;
    margin-top: 20px;
    padding: 14px 30px;
}
.profile-all {
    margin-top: 0;
}
.who-post-detail {
    > h3 {
        font-size: 16px;
    }
    > span {
        color: #202020;
        font-size: 12px;
        a {
            color: $blue;
            font-weight: bold;
        }
    }
}
.who-post-this {
    position: relative;
    .house {
        position: absolute;
        width: auto;
        bottom: -11px;
        left: 36px;
    }
    > span {
        border: 0 solid #ffffff;
    }
}
.vsmall {
    font-weight: normal;
    font-family: 'Open Sans';
    font-size: 10px;
    color: #777777;
}
.admin-details > i {
    color: #777777;
    text-transform: capitalize;
}
.post-content p {
    color: #202020;
}
.btn-red {
    @include button-variant(white, $red, $red);
}
.btn-green {
    @include button-variant(white, $green, $green);
}
.btn-blue {
    @include button-variant(white, $blue, $blue);
}
.btn-orange {
    @include button-variant(white, $orange, $orange);
}
$trans-black: rgba( black, .15 );
.btn-darker {
    @include button-variant(white, $trans-black, transparent);
}
.btn-clear {
    @include button-variant(white, transparent, transparent);
    padding: 0;
}
.btn.btn-round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.btn-nopad {
    margin: -15px 5px;
}
.file-list {
    .btn-clear {
        color: #505050;
    }
    .btn {
        padding: 0 10px;
    }
}
.inline {
    display: inline-block;
}
.info-dropdown {
    border: none;
    padding: 0;
    overflow: hidden;
    li {
        +li {
            border-top: 1px solid $border-color;
        }
        > a {
            padding: 10px;
        }
    }
}
.info-holder {
    background: #ffffff none repeat scroll 0 0;
    position: relative;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    height: 87px;
    .btn {
        font-size: 12px;
        min-width: 110px;
    }
}
.greenbg {
    background-color: $green;
    color: white;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 12px;
}
.compny {
    h3 {
        margin: 10px 0 5px;
        font-size: 14px;
    }
    p {
        margin: 0;
        line-height: 100%;
        margin-bottom: 5px;
        font-size: 12px;
    }
}
.info-pic {
    position: absolute;
    left: 50%;
    top: -7px;
    @include transform(translateX(-50%));
    > span {
        display: inline-block;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
    }
    .dp {
        height: 101px;
    }
}
.info-house {
    position: absolute;
    bottom: -5px;
    right: -10px;
}
.info-btn {}
.padder {
    padding-top: 5px;
}
.first-half {
    width: 50%;
    padding-left: 65px;
    +.first-half {
        padding-left: 0 !important;
        padding-right: 65px !important;
    }
}
.dif {
    color: #777;
    font-family: 'Open Sans';
}
.padding-border {
    padding: 20px;
}
.folder {
    text-align: center;
    img {
        max-width: 100%;
    }
    h6 {
        margin: 10px 0 0;
    }
}
.mt20 {
    margin-top: 20px !important;
}
.pointer {
    cursor: pointer;
}
.panel-content {
    padding-top: 26px;
}
.mt-18 {
    margin-top: 18px;
}
.emailed {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
.strong {
    font-weight: 700;
}
.filebx {
    background-color: #ebf1f2;
    color: #4b4e4e;
    text-align: center;
    padding: 6px;
    position: relative;
    i {
        font-size: 32px;
    }
    p {
        margin: 5px 0 0;
        line-height: 100%;
        height: 14px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.dl-bx {
    width: 24px;
    height: 24px;
    background-color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    text-align: center;
    i {
        font-size: 14px;
        line-height: 23px;
    }
}
.activity-timeline > li {
    margin-bottom: 30px;
}
.side-header,
.top-bar {
    z-index: 99 !important;
}
.modal-content {
    overflow: hidden;
}
.red-bg {
    background-color: $red;
    > * {
        color: white;
    }
}
.blue-bg {
    background-color: $blue;
    > * {
        color: white;
    }
}
.green-bg {
    background-color: $green;
    > * {
        color: white;
    }
}
.modal-footer {
    padding: 10px 15px;
}
.no-float {
    float: none !important;
    margin: 0;
}
.mce-container-body button {
    background: transparent;
    margin: 0 !important;
}
.billing-sec .field {
    margin-bottom: 15px;
    border-radius: 5px;
    input {
        height: 37px;
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.billing-sec .field input,
.billing-sec .field textarea {
    border: 1px solid $border-color !important;
    &:focus {
        outline: none !important;
    }
}
.mce-panel {
    background-color: white !important;
    border-radius: 5px;
    border-color: $border-color !important;
}
.mce-btn {
    background: white !important;
}
.nav-tabs {
    border: 0;
    > li.active {
         > a:focus,
         > a:hover,
        > a {
            color: $red;
            border: 0;
            border-bottom: 5px solid $red;
        }
    }
    > li > a {
        border: 0;
        border-bottom: 5px solid transparent;
        border-radius: 0;
        &:focus,
        &:hover {
            background: transparent;
            color: inherit;
        }
    }
}
.file-selector {
    padding: 10px;
    border: 1px solid $border-color;
    min-height: 87px;
}
.check-bx input[type="checkbox"],
.filebx input[type="checkbox"] {
    float: none;
    border-radius: 0;
    height: 24px;
    width: 24px !important;
    border: 0 !important;
    padding: 0;
    @include appearance(none);
    margin: 0;
    position: relative;
    z-index: 9;
    +i {
        display: none;
    }
    &:checked+i {
        display: block;
    }
}
.check-bx {
    display: inline-block;
    position: relative;
    background-color: #e8edf2;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    .aired {
        top: 5px;
    }
}
.aired {
    position: absolute;
    top: 0;
    right: 4px;
}
.scroll-x {
    max-height: 120px;
    overflow-x: auto;
    padding: 0 15px;
    margin: 0 -15px;
    .mter {
        margin-top: 10px;
    }
}
.ui-select-bootstrap .ui-select-choices-row.active > a {
    background-color: $blue;
}
.billing-sec .ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 5px;
    border-color: #e5e5e5;
    border-radius: 5px;
    input {
        border: none !important;
    }
}
.billing-sec .field .ui-select-multiple.ui-select-bootstrap input {
    border: none;
    border-radius: none;
    float: none;
    font-size: 12px;
    height: auto;
    padding: 0;
    width: 100%;
}
.table .btn {
    padding: 0 5px;
}
.chkbx {
    min-height: 15px !important;
    padding-left: 6px !important;
}
.ipbl {
    display: inline-block;
}
.wd20 {
    width: 20%;
}
.wd79 {
    width: 79%;
}
.wd30 {
    width: 30%;
}
.bl {
    display: block;
}
.ui-select {
    .form-control {
        width: 100% !important;
        height: 34px;
    }
}
.relative {
    position: relative;
}
.ng-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 33px;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
    border: 1px solid #ccc;
    z-index: 9;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    > li {
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: $brand-primary;
            color: white;
        }
    }
}
.form-group img {
    opacity: 1 !important;
}
form.mr-form {
    margin-top: 0;
    margin-left: 0;
    margin-right: 10px;
}
form.search-form {
    border-radius: 0;
    height: 34px;
    > input {
        padding: 7px 26px 8px 10px;
    }
}
.heading-profile > h2 {
    width: auto;
}
.ats-switch {
    border-color: #d4d4d4;
}
.ats-switch .switch-right {
    color: #7d7d7d;
}
.btn-upload {
    position: relative;
    input[type="file"] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.form-group {
    position: relative;
    .error-msg {
        position: absolute;
        right: 0;
        background-color: $red;
        color: white;
        padding: 5px 10px;
        font-size: 10px;
        bottom: -23px;
        text-transform: uppercase;
    }
}
.tableTotal {
    font-size: 12px;
    padding: 2px;
}
.multipleClose {
    right: 0;
    padding: 7px 19px;
    position: absolute;
    background: $red;
    color: white;
    border: none;
    z-index: 11;
}
.tableData {
  text-align: center;
}
.side-header {
    overflow-y: auto;
}
/* Start writing sass here */
@import "fancybox-override";
@import "other/mobile";
