@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "template/icons";
@import "template/main";
@import "template/responsive";
body {
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
.mt20 {
  margin-top: 20px;
}
.logo img {
    max-height: 100%;
    width: auto;
}
.menu-options {
  margin-top: 15px;
}
.logo {
    padding: 10px 0 10px 25px;
}
.account-form > form .feild > .login-w {
    background: #125daa none repeat scroll 0 0;
    border: medium none;

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;

    color: #ffffff;
    float: left;
    font-family: Montserrat;
    font-size: 12px;
    margin-top: 20px;
    padding: 14px 30px;
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
