<form name="formName" ng-submit="submit(formData);">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <toggle-switch ng-model="formData.status" class="switch-small switch-success pull-right"></toggle-switch>
                    <h2>Create Assignment</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">

                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="sec">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Company Name*</label>
                                        <multiple-select name="company" required ng-model="formData.company" ng-name="name.company" api="searchCompany"></multiple-select>
                                        <div class="error-msg" ng-show="formName.company.$invalid">Please Select Company Name</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Company Code*</label>
                                        <input type="text" class="form-control" name="companyCode" ng-model="formData.companyCode" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Type of Claim*</label>
                                        <multiple-select name="typeOfClaim" required ng-model="formData.office" filter='{"company":"{{formData.company}}"}' ng-name="name.office" api="searchOffice"></multiple-select>
                                        <div class="error-msg" ng-show="formName.typeOfClaim.$invalid">Please Select Type of Claim</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nature of Survey*</label>
                                        <multiple-select name="natureOfSurvey" required ng-model="formData.natureOfSurvey" ng-name="name.natureOfSurvey" api="searchNatureOfSurvey"></multiple-select>
                                        <div class="error-msg" ng-show="formName.natureOfSurvey.$invalid">Please Select Nature of Survey</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Branch Office*</label>
                                        <multiple-select name="branchOffice" required ng-model="formData.branch" filter='{"company":"{{formData.company}}"}' ng-name="name.branch" api="searchBranch"></multiple-select>
                                        <div class="error-msg" ng-show="formName.branchOffice.$invalid">Please Select Branch Office</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attach Appointment Mail</label>
                                        <upload-image ng-model="formData.appointment"></upload-image>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date of Intimation*</label>
                                        <div class="input-group">
                                            <input type="text" name="dateOfIntimation" required class="form-control" uib-datepicker-popup="{{format}}" ng-model="formData.dateOfIntimation" is-open="popup.dateOfIntimation" ng-change="chageDOB(formData.birthDate)" datepicker-options="dateOptions" readonly/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="popup.dateOfIntimation = true">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="error-msg" ng-show="formName.dateOfIntimation.$invalid && formName.dateOfIntimation.$touched">Please Enter Date of Intimation</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Intimated loss*</label>
                                    <input type="text" name="intimatedLoss" ng-model="formData.intimatedLoss" class="form-control" required>
                                    <div class="error-msg" ng-show="formName.intimatedLoss.$invalid && formName.intimatedLoss.$touched">Please Enter Intimated Loss</div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Appointed by*</label>
                                        <multiple-select name="appointedBy" required ng-model="formData.office" filter='{"company":"{{formData.company}}"}' ng-name="name.office" api="searchOffice"></multiple-select>
                                        <div class="error-msg" ng-show="formName.appointedBy.$invalid">Please Select Appointed By</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Owner*</label>
                                        <multiple-select name="owner" required ng-model="formData.office" filter='{"company":"{{formData.company}}"}' ng-name="name.office" api="searchOffice"></multiple-select>
                                        <div class="error-msg" ng-show="formName.owner.$invalid">Please Select Owner</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Insured's Office*</label>
                                        <multiple-select name="insuredOffice" required ng-model="formData.insuredOffice" filter='{"company":"{{formData.company}}"}' ng-name="name.office" api="searchOffice"></multiple-select>
                                        <div class="error-msg" ng-show="formName.insuredOffice.$invalid">Please Select Insured's Office</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Insured Officer*</label>
                                        <multiple-select name="insuredOfficer" required ng-model="formData.insuredOfficer" filter='{"company":"{{formData.company}}"}' ng-name="name.office" api="searchOffice"></multiple-select>
                                        <div class="error-msg" ng-show="formName.insuredOfficer.$invalid">Please Select Insured Officer</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cause of Loss*</label>
                                        <multiple-select name="causeOfLoss" required ng-model="formData.causeOfLoss" filter='{"company":"{{formData.company}}"}' ng-name="name.office" api="searchOffice"></multiple-select>
                                        <div class="error-msg" ng-show="formName.siteContact.$invalid">Please Select Cause of Loss</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nature of Loss*</label>
                                        <ui-select multiple tagging="tagTransform" tagging-label="(press enter to add new)" on-select="clicked($select.selected)" name="natureOfLoss" ng-model="formData.natureOfLoss" theme="bootstrap" required>
                                            <ui-select-match>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="natureOfLoss in products | filter:$select.search" refresh-delay="0" refresh="refreshNature()">{{natureOfLoss.name}}</ui-select-choices>
                                        </ui-select>
                                        <div class="error-msg" ng-show="formName.natureOfLoss.$invalid && formName.natureOfLoss.$touched">Please Enter Nature Of Loss</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Broker's Office*</label>
                                        <multiple-select name="brokerOffice" required ng-model="formData.brokerOffice" filter='{"company":"{{formData.company}}"}' ng-name="name.office" api="searchOffice"></multiple-select>
                                        <div class="error-msg" ng-show="formName.brokerOffice.$invalid">Please Select Broker's Office</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Insurance Policy*</label>
                                        <multiple-select name="insurancePolicy" required ng-model="formData.insurancePolicy" filter='{"company":"{{formData.company}}"}' ng-name="name.office" api="searchOffice"></multiple-select>
                                        <div class="error-msg" ng-show="formName.insurancePolicy.$invalid">Please Select Insurance Policy</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact details of Site*</label>
                                        <input type="text" name="siteContact" ng-model="formData.siteContact" class="form-control" required>
                                        <div class="error-msg" ng-show="formName.siteContact.$invalid && formName.siteContact.$touched">Please Enter Contact details of Site</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Share With</label>
                                        <ui-select multiple tagging="tagTransform" on-select="clicked($select.selected)" name="shareWith" ng-model="formData.shareWith" theme="bootstrap" required>
                                            <ui-select-match>{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="natureOfLoss in products | filter:$select.search" refresh-delay="0" refresh="refreshNature()">{{natureOfLoss.name}}</ui-select-choices>
                                        </ui-select>
                                        <div class="error-msg" ng-show="formName.shareWith.$invalid && formName.shareWith.$touched">Please Enter name to Share With</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <div class="form-elements-sec">
                      <div class="widget-title">
                        <a class="btn btn-primary pull-right">Add New</a>
                          <h3>Products</h3>
                      </div>
                        <div class="sec">
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Products</label>
                                  <input type="text" name="products" ng-model="formData.products" class="form-control">
                                  <div class="error-msg" ng-show="formName.products.$invalid && formName.products.$touched">Please Enter Product Name</div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Item</label>
                                  <input type="text" name="item" ng-model="formData.item" class="form-control">
                                  <div class="error-msg" ng-show="formName.item.$invalid && formName.item.$touched">Please Enter Item Name</div>
                                </div>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-input">
                                <thead>
                                  <tr>
                                    <th>Vehicle #</th>
                                    <th width="150px">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Vehicle #</td>
                                    <td>
                                        <a class="btn btn-primary" ng-click="editMarineCargo()">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger" ng-click="deleteMarineCargo()">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <div class="form-elements-sec">
                      <div class="widget-title">
                        <a class="btn btn-primary pull-right">Add New</a>
                          <h3>Invoices</h3>
                      </div>
                        <div class="sec">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Invoice Number</label>
                                <input type="text" name="invoiceNumber" ng-model="formData.invoiceNumber" class="form-control" required>
                                <div class="error-msg" ng-show="formName.invoiceNumber.$invalid && formName.invoiceNumber.$touched">Please Enter Invoice Number</div>
                              </div>
                            </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Date</label>
                                      <div class="input-group">
                                          <input type="text" name="invoiceNumberDate" ng-model="formData.invoiceNumberDate" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup.invoiceNumberDate" ng-change="chageDOB(formData.birthDate)" datepicker-options="dateOptions" readonly/>
                                          <span class="input-group-btn">
                                              <button type="button" class="btn btn-default" ng-click="popup.invoiceNumberDate = true">
                                                  <i class="fa fa-calendar"></i>
                                              </button>
                                          </span>
                                      </div>
                                      <div class="error-msg" ng-show="formName.invoiceNumberDate.$invalid && formName.invoiceNumberDate.$touched">Please Enter Date</div>
                                  </div>
                              </div>

                          </div>
                          <div class="table-responsive">
                              <table class="table table-input">
                                <thead>
                                  <tr>
                                    <th>Invoice #</th>
                                    <th>Date</th>
                                    <th width="150px">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Invoice #</td>
                                    <td>Date</td>
                                    <td>
                                        <a class="btn btn-primary" ng-click="editMarineCargo()">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger" ng-click="deleteMarineCargo()">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <div class="form-elements-sec">
                      <div class="widget-title">
                        <a class="btn btn-primary pull-right">Add New</a>
                          <h3>LRs</h3>
                      </div>
                        <div class="sec">
                          <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>LR Number*</label>
                              <input type="text" name="lrNumber" ng-model="formData.lrNumber" class="form-control">
                              <div class="error-msg" ng-show="formName.lrNumber.$invalid && formName.lrNumber.$touched">Please Enter LR Number</div>
                            </div>
                          </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Date*</label>
                                      <div class="input-group">
                                          <input type="text" name="lrNumberDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="formData.lrNumberDate" is-open="popup.lrNumberDate" ng-change="chageDOB(formData.birthDate)" datepicker-options="dateOptions" readonly/>
                                          <span class="input-group-btn">
                                              <button type="button" class="btn btn-default" ng-click="popup.lrNumberDate = true">
                                                  <i class="fa fa-calendar"></i>
                                              </button>
                                          </span>
                                      </div>
                                      <div class="error-msg" ng-show="formName.lrNumberDate.$invalid && formName.lrNumberDate.$touched">Please Enter Date</div>
                                  </div>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-input">
                                <thead>
                                  <tr>
                                    <th>LR #</th>
                                    <th>Date</th>
                                    <th width="150px">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>LR #</td>
                                    <td>Date</td>
                                    <td>
                                        <a class="btn btn-primary" ng-click="editMarineCargo()">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger" ng-click="deleteMarineCargo()">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <div class="form-elements-sec">
                      <div class="widget-title">
                        <a class="btn btn-primary pull-right">Add New</a>
                          <h3>Vehicle Number</h3>
                      </div>
                        <div class="sec">
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Vehicle Number</label>
                                  <input type="text" name="vehicleNumber" ng-model="formData.vehicleNumber" class="form-control" alpha-numeric>
                                  <div class="error-msg" ng-show="formName.vehicleNumber.$invalid && formName.vehicleNumber.$touched">Please Enter Vehicle Number</div>
                                </div>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-input">
                                <thead>
                                  <tr>
                                    <th>Vehicle #</th>
                                    <th width="150px">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Vehicle #</td>
                                    <td>
                                        <a class="btn btn-primary" ng-click="editMarineCargo()">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger" ng-click="deleteMarineCargo()">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>


                <div class="widget">
                    <div class="form-elements-sec">
                      <div class="widget-title">
                        <a class="btn btn-primary pull-right">Add New</a>
                          <h3>Others</h3>
                      </div>
                        <div class="sec">
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Location ID</label>
                                  <input type="text" name="locationID" ng-model="formData.locationID" class="form-control">
                                  <div class="error-msg" ng-show="formName.locationID.$invalid && formName.locationID.$touched">Please Enter Location ID</div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Product ID</label>
                                  <input type="text" name="productID" ng-model="formData.productID" class="form-control">
                                  <div class="error-msg" ng-show="formName.productID.$invalid && formName.productID.$touched">Please Enter Product ID</div>
                                </div>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-input">
                                <thead>
                                  <tr>
                                    <th>Location ID</th>
                                    <th>Product ID</th>
                                    <th width="150px">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Location ID</td>
                                    <td>Product ID</td>
                                    <td>
                                        <a class="btn btn-primary" ng-click="editMarineCargo()">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger" ng-click="deleteMarineCargo()">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center mt20 odd-even-button">
            <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
            <button class="btn btn-default" ui-sref="assignment-list">Cancel</button>
        </div>
    </div>
</form>
