<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="businessBranch-list" >{{header.name}}</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>Business Branch</h3>
                    </div>
                    <form name="businessBranchForm" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Business Branch Name*</label>
                                    <input type="text" name="name" placeholder="Business Branch Name" ng-model="formData.name" class="form-control" required>
                                    <div class="error-msg" ng-show="businessBranchForm.name.$invalid && businessBranchForm.name.$touched">Please Enter Business Branch Name.</div>
                                </div>

                                <div class="form-group">
                                    <label for="">Business Branch Code*</label>
                                    <input type="text" name="code" placeholder="Business Branch Code" ng-model="formData.code" class="form-control" required>
                                    <div class="error-msg" ng-show="businessBranchForm.code.$invalid && businessBranchForm.code.$touched">Please Enter Business Branch Code.</div>
                                </div>

                            </div>

                        </div>
                        <div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveBusinessBranch(formData)" ng-disabled="businessBranchForm.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref="businessBranch-list">Cancel</button>
                        </div>
                </div>
            </div>



            </form>
        </div>
    </div>
</div>
