<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">{{header.name}}</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>City</h3>
                    </div>
                    <form name="cityform" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ui-select">
                                    <label for="">Country Name*</label>
                                    <multiple-select  name="country" required ng-model="formData.country" ng-name = "name.country" api="searchCountry"></multiple-select>
                                    <div class="error-msg" ng-show="cityform.country.$error.required && cityform.country.$touched">Please Enter Country Name.</div>
                                </div>
                                <div class="form-group ui-select">
                                    <label for="">Zone Name*</label>
                                    <multiple-select  name="zone" required ng-model="formData.zone" filter='{"country":"{{formData.country}}"}' ng-name = "name.zone" api="searchZone"></multiple-select>
                                    <div class="error-msg" ng-show="cityform.zone.$error.required && cityform.zone.$touched">Please Enter Zone Name.</div>
                                </div>
                                <div class="form-group ui-select">
                                    <label for="">State Name*</label>
                                    <multiple-select  name="state" required ng-model="formData.state" filter='{"zone":"{{formData.zone}}"}' ng-name = "name.state" api="searchState"></multiple-select>
                                    <div class="error-msg" ng-show="cityform.state.$error.required && cityform.state.$touched">Please Enter State Name.</div>
                                </div>
                                <div class="form-group ui-select">
                                    <label for="">District Name*</label>
                                    <multiple-select  name="district" required ng-model="formData.district" filter='{"state":"{{formData.state}}"}' ng-name = "name.district" api="searchDistrict"></multiple-select>
                                    <div class="error-msg" ng-show="cityform.district.$error.required && cityform.district.$touched">Please Enter District Name.</div>
                                </div>
                                <div class="form-group ui-select">
                                    <label for="">City Name*</label>
                                    <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                    <div class="error-msg" ng-show="cityform.name.$error.required && cityform.name.$touched">Please Enter City Name.</div>
                                </div>
                                <div class="form-group">
                                    <label for="">Std Code*</label>
                                    <input type="text" name="stdCode" ng-model="formData.stdCode" class="form-control" required>
                                    <div class="error-msg" ng-show="cityform.stdCode.$error.required && cityform.stdCode.$touched">Please Enter Std Code.</div>
                                </div>
                                <div class="form-group">
                                    <label for="">Timezone</label>
                                    <input type="text" name="timezone" ng-model="formData.timezone" class="form-control">
                                    <div class="error-msg" ng-show="cityform.timezone.$error.required && cityform.timezone.$touched">Please Enter TimeZone.</div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit" ng-click="saveCity(formData)" ng-disabled="cityform.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref="city-list">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
