<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">{{header.name}}</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>City</h3>
                    </div>
                    <form name="cityform" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ui-select">
                                    <label for="">Country Name*</label>
                                    <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="ctrl.multipleDemo.colors"  sortable="true" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a color">
                                        <ui-select-match placeholder="Select Country">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="color in ctrl.availableColors | filter:$select.search">
                                            {{color}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-msg" ng-show="cityform.name.$error.required && cityform.name.$touched">Please Enter Country Name.</div>
                                </div>
                                <div class="form-group ui-select">
                                    <label for="">Zone Name*</label>
                                    <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="ctrl.multipleDemo.colors"  sortable="true" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a color">
                                        <ui-select-match placeholder="Select Zone">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="color in ctrl.availableColors | filter:$select.search">
                                            {{color}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-msg" ng-show="cityform.name.$error.required && cityform.name.$touched">Please Enter Zone Name.</div>
                                </div>
                                <div class="form-group ui-select">
                                    <label for="">State Name*</label>
                                    <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="ctrl.multipleDemo.colors"  sortable="true" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a color">
                                        <ui-select-match placeholder="Select State">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="color in ctrl.availableColors | filter:$select.search">
                                            {{color}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-msg" ng-show="cityform.name.$error.required && cityform.name.$touched">Please Enter State Name.</div>
                                </div>
                                <div class="form-group ui-select">
                                    <label for="">District Name*</label>
                                    <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="ctrl.multipleDemo.colors"  sortable="true" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a color">
                                        <ui-select-match placeholder="Select District">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="color in ctrl.availableColors | filter:$select.search">
                                            {{color}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-msg" ng-show="cityform.name.$error.required && cityform.name.$touched">Please Enter District Name.</div>
                                </div>
                                <div class="form-group ui-select">
                                    <label for="">City Name*</label>
                                    <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="ctrl.multipleDemo.colors"  sortable="true" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a color">
                                        <ui-select-match placeholder="Select City">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="color in ctrl.availableColors | filter:$select.search">
                                            {{color}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-msg" ng-show="cityform.name.$error.required && cityform.name.$touched">Please Enter City Name.</div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="">City Name*</label>
                                    <input type="text" name="name" placeholder="City Name" ng-model="formData.name" class="form-control" required>
                                    <div class="error-msg" ng-show="cityform.name.$error.required && cityform.name.$touched">Please Enter City Name.</div>
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">District Name*</label>
                                    <select class="form-control" ng-model="formData.district" value="{{dist.name}}">
                                        <option ng-selected="true" value="">Select District</option>
                                        <option ng-repeat="dist in allDistricts">{{dist.name}}</option>
                                    </select>
                                </div> -->
                                <div class="form-group">
                                    <label for="">Std Code</label>
                                    <input type="text" name="stdCode" placeholder="Std Codee" ng-model="formData.stdCode" class="form-control" required>
                                    <div class="error-msg" ng-show="cityform.stdCode.$error.required && cityform.stdCode.$touched">Please Enter Std Code.</div>
                                </div>
                                <div class="form-group">
                                    <label for="">Latitude</label>
                                    <input type="text" name="lat" placeholder="Latitude" ng-model="formData.lat" class="form-control" required>
                                    <div class="error-msg" ng-show="cityform.lat.$error.required && cityform.lat.$touched">Please Enter Latitude.</div>
                                </div>
                                <div class="form-group">
                                    <label for="">Longitude</label>
                                    <input type="text" name="long" placeholder="Longitude" ng-model="formData.long" class="form-control" required>
                                    <div class="error-msg" ng-show="cityform.long.$error.required && cityform.long.$touched">Please Enter Longitude.</div>
                                </div>
                                <div class="form-group">
                                    <label for="">TimeZone</label>
                                    <input type="text" name="timezone" placeholder="TimeZone" ng-model="formData.timezone" class="form-control" required>
                                    <div class="error-msg" ng-show="cityform.timezone.$error.required && cityform.timezone.$touched">Please Enter TimeZone.</div>
                                    <!-- <label for="">State Name*</label>
                                    <input type="text" name="state" placeholder="State Name" ng-model="formData.state" class="form-control" required>
                                    <div class="error-msg" ng-show="cityform.state.$error.required && cityform.state.$touched">Please Enter State Name.</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit" ng-click="saveCity(formData)" ng-disabled="cityform.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref="city-list">Cancel</button>
                        </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
