<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">City List</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>City List</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">

                    <div class="widget-title">
                        <div class="pull-right">
                          <form class="search-form mr-form">
                              <input type="text" placeholder="Search Here..."/>
                              <button type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </form>
                            <a class="btn btn-primary" ui-sref="createcity">Add New</a>
                        </div>
                        <h3>List of Cities</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>City Name</th>
                                    <th>District Name</th>
                                    <th>Std Code</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Time Zone</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="city in allCities">
                                    <td>{{city.name}}</td>
                                    <td>{{city.district}}</td>
                                    <td>{{city.stdCode}}</td>
                                    <td>{{city.lat}}</td>
                                    <td>{{city.long}}</td>
                                    <td>{{city.timezone}}</td>
                                    <td>
                                      <a class="btn btn-primary" ui-sref="editcity({id:city._id})"><i class="fa fa-pencil"></i></a>
                                      <a class="btn btn-danger" ng-click="deleteCity(city._id)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
