<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">Company List</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Create Company</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <form role="form" class="sec ng-pristine ng-valid">

        <div class="row">

            <div class="col-md-6">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="widget-title">
                            <h3>General</h3>
                        </div>
                        <div class="form-group">
                            <label>Code*</label>
                            <input type="text" placeholder="Code"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Name*</label>
                            <input type="text" placeholder="Name"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Short Name*</label>
                            <input type="text" placeholder="Short Name"  class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="user-img mt25">
                                <label>Upload Document</label>
                                <!-- <img ng-src="{{userForm.image|uploadpath}}" class="img-responsive margin-auto" ng-if="userForm.image" style="height:200px;"> -->
                                <img ng-src="{{formData.symbol|uploadpath}}" ng-if="formData.symbol" alt="" class="img-responsive margin-auto" height="50px" width="50px">
                                <upload-image ng-model="formData.symbol" no-view></upload-image>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="widget-title">
                            <h3>Other</h3>
                        </div>
                        <div class="form-group">
                            <label>NEFT</label>
                            <input type="text" placeholder="NEFT"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Service Tax#</label>
                            <input type="text" placeholder="Service Tax"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Pan#</label>
                            <input type="text" placeholder="Pan"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Services</label>
                            <input type="text" placeholder="Services"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Cin</label>
                            <input type="text" placeholder="Cin"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input type="text" placeholder="Website"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">Status</label>
                            <select class="form-control ">
                                <option value="select">Active</option>
                                <option value="select">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="widget-title">
                            <h3>Address</h3>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Address</label>
                            <textarea placeholder="Address" id="exampleInputPassword1" class="form-control"> </textarea>
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">Country</label>
                            <select class="form-control">
                                <option value="select">Select Country</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">State/Province</label>
                            <select class="form-control">
                                <option value="select">Select State/Province</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">City</label>
                            <select class="form-control">
                                <option value="select">Select City</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input type="text" placeholder="Postal Code"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Final Address</label>
                            <textarea placeholder="" id="exampleInputPassword1" class="form-control" disabled> </textarea>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="widget-title">
                            <h3>Contact</h3>
                        </div>
                        <div class="form-group">
                            <label>Office#</label>
                            <input type="text" placeholder="Office Number"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Home#</label>
                            <input type="text" placeholder="Home Number"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Mobile#</label>
                            <input type="text" placeholder="Mobile Number"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Fax#</label>
                            <input type="text" placeholder="Fax Number"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Extension</label>
                            <input type="email" placeholder="Extension"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email Id</label>
                            <input type="email" placeholder="Email Id"  class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
        <div class="form-elements-sec">
            <div class="widget-title">
                <h3>Bank Date</h3>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th>Activity Name</th>
                    <th style="width: 100px;">Days</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Field Office Activity</td>
                    <td><input type="text" class="form-control "></td>
                </tr>
                  <tr>
                    <td>Back Office Activity</td>
                    <td><input type="text" class="form-control "></td>
                </tr>
                  <tr>
                    <td>Reimbursement</td>
                    <td><input type="text" class="form-control "></td>
                </tr>
                  <tr>
                    <td>Receipt</td>
                    <td><input type="text" class="form-control "></td>
                </tr>
                  <tr>
                    <td>Journal Voucher</td>
                    <td><input type="text" class="form-control "></td>
                </tr>
                </tbody>
            </table>
  </div>
</div>
</div>
</div>

    </form>
    <div class="text-center mt20">
              <button class="btn btn-default" type="submit">Save</button>
              <button class="btn btn-default" type="submit">Cancel</button>
          </div>
</div>
