<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="company-list" title="Branch List">Company List</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Company List</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">

                    <div class="widget-title">
                      <div class="pull-right">
                        <a class="btn btn-primary" ui-sref="createcompany">Add New</a>
                      </div>
                        <h3>List of Company</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Company Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                              <!-- <tr>
                                  <td><input type="text" class="form-control" placeholder="Enter #"></td>
                                  <td><input type="text" class="form-control" placeholder="Enter Branch Name"></td>
                                  <td><input type="text" class="form-control" placeholder="Enter Branch Code"></td>
                                  <td><input type="text" class="form-control" placeholder="Enter Short Name"></td>
                              </tr> -->
                                <tr>
                                    <td>1</td>
                                    <td>Wohlig Technology</td>
                                    <td>WOH123</td>

                                    <td>lorem ipsum</td>
                                    <td><a class="btn btn-blue" ui-sref="editoffice({id:office._id})"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-red" ng-click="deleteOffice(office._id)"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Facebook Pvt. Ltd.</td>
                                    <td>FAC123</td>

                                    <td>lorem ipsum</td>
                                    <td><a class="btn btn-blue" ui-sref="editoffice({id:office._id})"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-red" ng-click="deleteOffice(office._id)"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Twitter Pvt. Ltd.</td>
                                    <td>TWI123</td>

                                    <td>lorem ipsum</td>
                                    <td><a class="btn btn-blue" ui-sref="editoffice({id:office._id})"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-red" ng-click="deleteOffice(office._id)"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
