<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">{{header.name}}</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>Country</h3>
                    </div>
                    <form name="countryform" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Country Name*</label>
                                    <input type="text" name="name" placeholder="Country Name" ng-model="formData.name" class="form-control" required>
                                    <div class="error-msg" ng-show="countryform.name.$error.required && countryform.name.$touched">Please Enter Country Name.</div>

                                    <label for="">Country Code*</label>
                                    <input type="text" name="countryCode" placeholder="Country Code" ng-model="formData.countryCode" class="form-control" required>
                                    <div class="error-msg" ng-show="countryform.countryCode.$error.required && countryform.countryCode.$touched">Please Enter Country Code.</div>

                                </div>

                            </div>

                        </div>
                </div>
            </div>


            <div class="text-center mt20">
                <button class="btn btn-default" type="submit" ng-click="saveCountry(formData)" ng-disabled="countryform.$invalid">Save</button>
                <button class="btn btn-default" ui-sref="country-list">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>
