<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">Currency List</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Currency List</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">

                    <div class="widget-title">
                        <div class="pull-right">
                            <a class="btn btn-primary" ui-sref="createcurrency">Add New</a>
                        </div>
                        <h3>List of Currencies</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <!-- <th>#</th> -->
                                    <th>Currency Name</th>
                                    <th>Currency Symbol</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <td><input type="text" class="form-control" placeholder="Enter #"></td> -->
                                    <td>
                                        <input type="text" class="form-control" placeholder="Enter Currency Name">
                                    </td>
                                    <!-- <td>
                                        <input type="text" class="form-control" placeholder="Enter Currency Symbol">
                                    </td> -->
                                </tr>
                                <tr ng-repeat="currency in allCurrencies">
                                    <!-- <td>1</td> -->
                                    <td>{{currency.name}}</td>
                                    <td> <img ng-src="{{currency.symbol|uploadpath}}" alt="" class="img-responsive margin-auto" height="50px" width="50px"></td>
                                    <td>
                                        <div class="pull-right">
                                            <a class="btn btn-primary" ui-sref="editcurrency({id:currency._id})">Edit</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <a class="btn btn-danger" ng-click="deleteCurrency(currency._id)">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>1</td>
                                    <td>Wohlig Technology</td>
                                    <td>WOH123</td>
                                    <td>WT</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Facebook Pvt. Ltd.</td>
                                    <td>FAC123</td>
                                    <td>FB</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Twitter Pvt. Ltd.</td>
                                    <td>TWI123</td>
                                    <td>TW</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
