<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">{{header.name}}</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>Currency</h3>
                    </div>
                    <form name="currencyform" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Currency Name*</label>
                                    <input type="text" name="name" placeholder="Currency Name" ng-model="formData.name" class="form-control" required>
                                    <div class="error-msg" ng-show="currencyform.name.$error.required && currencyform.name.$touched">Please Enter Currency Name.</div>


                                    <div class="user-img mt25">
                                      <label >Currency Symbol</label>
                                        <!-- <img ng-src="{{userForm.image|uploadpath}}" class="img-responsive margin-auto" ng-if="userForm.image" style="height:200px;"> -->
                                        <img ng-src="{{userForm.symbol|uploadpath}}" ng-if="userForm.symbol" alt="" class="img-responsive margin-auto">
                                        <upload-image ng-model="userForm.symbol" no-view></upload-image>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit" ng-click="saveCountry(formData)" ng-disabled="currencyform.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref="country-list">Cancel</button>
                        </div>
                </div>
            </div>



            </form>
        </div>
    </div>
</div>
