<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">{{header.name}}</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>District</h3>
                    </div>
                    <form name="districtform" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">District Name*</label>
                                    <input type="text" name="name" placeholder="District Name" ng-model="formData.name" class="form-control" required>
                                    <div class="error-msg" ng-show="districtform.name.$error.required && districtform.name.$touched">Please Enter District Name.</div>

                                    <div class="form-group">
                                      <label for="disabledSelect">State Name*</label>
                                      <select class="form-control" ng-model="formData.state" value="{{state.name}}">
                                        <option ng-selected="true" value="">Select State</option>
                                        <option ng-repeat="state in allStates">{{state.name}}</option>
                                      </select>
                                    </div>

                                    <!-- <label for="">State Name*</label>
                                    <input type="text" name="state" placeholder="State Name" ng-model="formData.state" class="form-control" required>
                                    <div class="error-msg" ng-show="districtform.state.$error.required && districtform.state.$touched">Please Enter State Name.</div> -->

                                </div>

                            </div>

                        </div>
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit" ng-click="saveDistrict(formData)" ng-disabled="districtform.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref="state-list">Cancel</button>
                        </div>
                </div>
            </div>



            </form>
        </div>
    </div>
</div>
