<div class="heading-sec">
    <div class="row">
        <div class="col-md-6 column">
            <div class="heading-profile">
                <h2>Absolute Links</h2>
            </div>
        </div>
    </div>
</div>
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title bordered">
                        <div class="pull-right">
                            <button class="btn btn-default" tooltip-placement="top" uib-tooltip="Back" type="button" ui-sref="email-inbox"><i class="fa fa-arrow-left"></i></button>
                            <button class="btn btn-default" tooltip-placement="top" uib-tooltip="Reply to All" type="button"><i class="fa fa-reply-all"></i></button>
                            <button class="btn btn-default" tooltip-placement="top" uib-tooltip="Forward" type="button"><i class="fa fa-share"></i></button>
                        </div>
                        <h3>Arun Arora</h3>
                        <p>To Chintan Shah, Chirag Shah at 10:43 AM</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sec email-sec" ng-bind-html="emailSnippet"></div>
                </div>
            </div>
        </div>
    </div>
</div>