<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="grade-list" title="Grade List">Grade List</a>
        </li>
    </ul>
</div>

<form name="formName">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <h2>{{header.name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="widget-title">
                            <h3>Grade</h3>
                        </div>
                        <div class="sec">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Grade Name*</label>
                                        <input type="text" name="name" class="form-control" ng-model="formData.name" required>
                                        <div class="error-msg" ng-show="formName.name.$invalid && formName.name.$touched">Please Enter Grade Name</div>
                                    </div>
                                    <div class="form-group">
                                        <label>Yearly Hours*</label>
                                        <input type="number" name="yearlyHours" max="2400" class="form-control" ng-model="formData.yearlyHours" required>
                                        <div class="error-msg" ng-show="formName.yearlyHours.$invalid && formName.yearlyHours.$touched">Yearly Hours should be less than or equal to 2400</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt20 odd-even-button">
                                <button class="btn btn-default" type="submit" ng-click="saveModel(formData)" ng-disabled="formName.$invalid">Save</button>
                                <button class="btn btn-default" ui-sref="grade-list">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
