<div class="account-user-sec">
    <div class="account-sec">
        <div class="account-top-bar">
            <div class="container">
                <div class="logo">
                    <a ui-sref="login" title="Absolute"><img src="img/logo.png" alt="Absolute" height="45"></a>
                </div>
            </div>
        </div>
        <div class="acount-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="contact-sec">
                            <div class="widget-title text-center">
                                <h3 class="text-center">Google Login</h3>
                                <span>Login with your Google ID</span>
                            </div>
                            <button class="btn btn-google btn-icon btn-block"><i class="fa fa-google"></i>Sign In with Google</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>