<div class="account-user-sec">
	<div class="account-sec">
		<div class="account-top-bar">
			<div class="container">
				 <div class="logo">
			        <a ui-sref="login" title="Absolute"><img src="img/logo.png" alt="Absolute" height="45"></a>
			    </div>
			</div>
		</div>
		<div class="acount-sec">
			<div class="container">
				<div class="row">

					<div class="col-md-6 col-md-offset-3">
						<div class="contact-sec">
									<div class="widget-title">
										<h3>Admin Panel Login</h3>
										<span>Fill your detail to get in</span>
									</div>
									<div class="account-form">
										<form>
											<div class="row">
												<div class="feild col-md-12">
													<input type="text" placeholder="Username" />
												</div>
												<div class="feild col-md-12">
													<input type="password" placeholder="Password" />
												</div>
												<div class="feild col-md-12">
													<a class="login-w" ui-sref="dashboard">Submit</a>
												</div>
											</div>
										</form>
									</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
		    <div class="container">
		        <p>&copy; {{template.year}}  <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
		    </div>
		</footer>
	</div><!-- Account Sec -->
</div>
