<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">{{header.name}}</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{header.name}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>Policy Doc</h3>
                    </div>
                    <form name="ploicyDocForm" role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Policy Name*</label>
                                    <input type="text" name="name" placeholder="Policy Name" ng-model="formData.name" class="form-control" required>
                                    <div class="error-msg" ng-show="ploicyDocForm.name.$invalid. && ploicyDocForm.name.$touched">Please Enter Policy Name.</div>

                                </div>
                                <!-- <div class="form-group">
                                    <label for="disabledSelect">Department*</label>
                                    <select class="form-control" ng-model="formData.department" value="{{dist.name}}">
                                        <option ng-selected="true" value="">Select Department</option>
                                        <option ng-repeat="dept in allDepartments">{{dept.name}}</option>
                                    </select>
                                </div> -->

                                <div class="form-group">
                                    <label for="disabledSelect">Policy Type*</label>
                                    <select class="form-control" ng-model="formData.PolicyType" value="{{dist.name}}">
                                        <option ng-selected="true" value="">Select Policy Type</option>
                                        <option ng-repeat="poly in allPolicyTypes">{{poly.policyType}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">Status</label>
                                    <select class="form-control" ng-model="formData.status" ng-options="str.value as str.name for str in userStatus">
                                        <!-- <option value="">Select Status </option>
                                        <option value=true>Active</option>
                                        <option value=false>Inactive</option> -->
                                    </select>
                                </div>

                                <!-- <div class="form-group">
                                    <label for="">Status*</label>
                                    <input type="text" name="Status" placeholder="Status" ng-model="formData.status" class="form-control" required>
                                    <div class="error-msg" ng-show="ploicyDocForm.status.$invalid. && ploicyDocForm.status.$touched">Please Enter Status.</div>

                                </div> -->

                            </div>

                        </div>
                        <div class="text-center mt20">
                            <button class="btn btn-default" type="submit" ng-click="savePolicyDoc(formData)" ng-disabled="ploicyDocForm.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref="policydoc-list">Cancel</button>
                        </div>
                </div>
            </div>



            </form>
        </div>
    </div>
</div>
