<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="role-list" >Role List</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Role List</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">

                    <div class="widget-title">
                        <div class="pull-right">
                          <form class="search-form mr-form">
                              <input type="text" placeholder="Search Here..."/>
                              <button type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </form>
                            <a class="btn btn-primary" ui-sref="createrole">Add New</a>
                        </div>
                        <h3>List of Roles</h3>
                    </div>
                    <div class="table-responsive" ng-show="totalItems>0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Role Name</th>
                                    <th>Menu</th>
                                    <th>Description</th>
                                    <th>User Type</th>
                                    <th>Privileges</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="role in allRoles">
                                    <td>{{role.name}}</td>
                                    <td>{{role.menu}}</td>
                                    <td>{{role.description}}</td>
                                    <td>{{role.user_type}}</td>
                                    <td>{{role.privileges}}</td>
                                    <td>
                                      <a class="btn btn-primary" ui-sref="editrole({id:role._id})"><i class="fa fa-pencil"></i></a>
                                      <a class="btn btn-danger" ng-click="deleteRole(role._id)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
