<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="branch-list" title="Branch List">Salvage List</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Create Salvage</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <div class="widget-title">
                        <h3>Salvage</h3>
                    </div>
                    <form role="form" class="sec ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Salvage*</label>
                                    <input type="text" placeholder="Salvage" id="exampleInputEmail1" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">Status</label>
                                    <select class="form-control" ng-model="formData.status" ng-options="str.value as str.name for str in userStatus">
                                        <!-- <option value="">Select Status </option>
                                        <option value=true>Active</option>
                                        <option value=false>Inactive</option> -->
                                    </select>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="disabledSelect">Status</label>
                                    <select class="form-control wd30">
                                        <option value="select">active</option>
                                        <option value="select">deactive</option>
                                    </select>
                                </div> -->




                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Sequence*</label>
                                    <input type="text" placeholder="Sequence" id="exampleInputEmail1" class="form-control">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center mt20">
            <button class="btn btn-default" type="submit">Save</button>
            <button class="btn btn-default" type="submit">Cancel</button>
        </div>
        </form>

    </div>
</div>
