<form name="formName" ng-submit="saveModel(formData)">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <toggle-switch ng-model="formData.status" class="switch-small switch-success pull-right"></toggle-switch>
                    <h2>Create Survey Code</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name*</label>
                                <input type="text" name="name" class="form-control" ng-model="formData.name" required>
                                <div class="error-msg" ng-show="formName.name.$invalid && formName.name.$touched">Please Enter Name</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="widget">
            <button class="btn btn-success" ng-click="addHead()">Add Head</button>
            <div ng-repeat="form in forms">
                <input ng-model="form.name" type="text" class="form-control" placeholder="head{{$index}}">
                <div ng-repeat="item in form.items">
                    <input ng-model="r.name" type="text" class="form-control" placeholder="item{{$index}}">
                </div>
                <button class="btn btn-danger" ng-click="remove($index)">Delete {{$index+1}}</button>
            </div>
            {{rs}}
        </div>-->

        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <span data-drag="true" jqyoui-draggable>So you think you can drag</span>
                </div>
            </div>
        </div>


        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater" ng-repeat="form in forms">
                            <div class="form-builder-head">
                                <div class="mark-float">
                                    <i class="fa fa-plus-circle success" ng-click="addHead()"></i>
                                    <i class="fa fa-minus-circle danger"></i>
                                </div>
                                <input type="text" placeholder="Enter Heading" class="form-control">
                            </div>
                            <div class="form-builder-hr">
                                <div class="form-builder-item row-item" ng-repeat="item in form.items">
                                    <div class="mark-float">
                                        <i class="fa fa-plus-circle success"></i>
                                        <i class="fa fa-minus-circle danger"></i>
                                    </div>
                                    <div class="col-item"><input type="text" placeholder="Enter item name" class="form-control"></div>
                                    <div class="col-item">
                                        <select class="form-control" ng-model="formData.itemType">
                                    <option value="">Select type of item</option>
                                    <option value="Custom Input">Custom Input</option>
                                    <option value="System Fields">System Fields</option>  
                                    <option value="Dropdown">Dropdown</option>  
                                </select>
                                    </div>
                                    <div class="col-item" ng-if="formData.itemType=='Custom Input'">
                                        <select class="form-control" ng-model="formdata.inputType">
                                    <option value="">Select type of input</option>
                                    <option value="Text">Text</option>
                                    <option value="Date">Date</option>
                                    <option value="Textarea">Textarea</option>
                                </select>
                                    </div>
                                    <div class="col-item" ng-if="formData.itemType=='System Fields'"><input type="text" placeholder="Enter Value" class="form-control"></div>
                                    <div class="col-item" ng-if="formData.itemType=='Dropdown'"><input type="text" class="form-control" placeholder="Enter values (eg. Theft, Fire)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix "></div>
        <div class="text-center mt20 odd-even-button ">
            <button class="btn btn-default " type="submit " ng-disabled="formName.$invalid ">Save</button>
            <a class="btn btn-default " ui-sref="template-list ">Cancel</a>
        </div>
    </div>
</form>