<form name="formName" ng-submit="saveModel(formData)">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <toggle-switch ng-model="formData.status" class="switch-small switch-success pull-right"></toggle-switch>
                    <h2>Create LOR Template</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>LOR Name*</label>
                                <input type="text" name="name" class="form-control" ng-model="formData.name" required>
                                <div class="error-msg" ng-show="formName.name.$invalid && formName.name.$touched">Please Enter Name</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater" ng-repeat="form in forms">
                            <div class="form-builder-head">
                                <div class="mark-float">
                                    <i class="fa fa-plus-circle success" ng-click="addHead();"></i>
                                    <i class="fa fa-minus-circle danger" ng-click="removeHead($index);"></i>
                                </div>
                                <input type="text" placeholder="Enter Heading" class="form-control">
                            </div>
                            <div class="form-builder-hr" id="sortable-ul-selector-id" ui-sortable="sortableOptions" ng-model="form.items">
                                <div class="form-builder-item row-item" ng-repeat="item in form.items">
                                    <div class="right-float mark-float">
                                        <i class="fa fa-bars handleBar"></i>
                                    </div>
                                    <div class="mark-float">
                                        <i class="fa fa-plus-circle success" ng-click="addItem(form);"></i>
                                        <i class="fa fa-minus-circle danger" ng-click="removeItem(form, $index);"></i>
                                    </div>
                                    <div class="col-item">
                                        <input type="text" placeholder="Enter item name" class="form-control">
                                    </div>
                                    <div class="col-item col-item-25">
                                        <select class="form-control" ng-model="formData.itemType">
                                            <option value="{{item.value}}" ng-repeat="item in itemTypes">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-item col-item-25" ng-if="formData.itemType == 'Submitted'">
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-item col-item-25" ng-if="formData.itemType != 'Submitted'">
                                        <p>Required
                                            <toggle-switch on-label="Yes" off-label="No" ng-model="required" class="switch-mini switch-success ml-25"></toggle-switch>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center mt20 odd-even-button">
            <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
            <a class="btn btn-default" ui-sref="template-lor-list">Cancel</a>
        </div>
    </div>
</form>