<form name="formName" ng-submit="saveModel(formData)">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <h2>Template Name</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="widget">
            <div class="form-elements-sec">
                <div class="sec">
                    <div class="clearfix"></div>
                    <div class="form-builder">
                        <div class="form-repeater" ng-repeat="form in forms">
                            <div class="form-builder-head">
                                <p>{{form.head}}</p>
                            </div>
                            <div class="form-builder-hr" id="sortable-ul-selector-id" ui-sortable="sortableOptions" ng-model="form.items">
                                <div class="form-builder-item no-pad row-item" ng-repeat="item in form.items">
                                    <div class="col-item col-item-35">
                                        <p>{{item.name}}</p>
                                    </div>

                                    <!-- TEXT -->
                                    <div class="col-item" ng-if="item.type=='text'">
                                        <input type="text" class="form-control">
                                    </div>

                                    <!-- DATE -->
                                    <div class="col-item" ng-if="item.type=='date'">
                                        <input type="date" class="form-control">
                                    </div>

                                    <!-- TEXT AREA -->
                                    <div class="col-item" ng-if="item.type=='textarea'">
                                        <textarea class="form-control"></textarea>
                                    </div>

                                    <!-- SYSTEM FIELD -->
                                    <div class="col-item" ng-if="item.type=='system'">
                                        <multiple-select name="company" required ng-model="formData.company" ng-name="name.company" api="searchCompany" ng-create="companySave"></multiple-select>
                                    </div>

                                    <!-- DROPDOWN -->
                                    <div class="col-item" ng-if="item.type=='dropdown'">
                                        <select class="form-control">
                                            <option value="{{item}}" ng-repeat="item in item.dropdownValues">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center mt20 odd-even-button">
            <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
            <a class="btn btn-default" ui-sref="template-lor-list">Cancel</a>
        </div>
    </div>
</form>