<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-sec">
                <div class="info-holder">
                    <div class="first-half pull-right">
                        <div class="pull-right mt-18">
                            <button class="btn btn-green btn-round" ng-click="newMessage();"><i class="ln-comments"></i> Send Message</button>
                        </div>
                        <div class="compny">
                            <h3>Music Broadcast Ltd <span class="dif">(Nagpur)</span></h3>
                            <p>7441-5105-0724-4234</p>
                            <p>Break Down - Damages</p>
                        </div>
                    </div>
                    <div class="first-half inline">
                        <div class="info-btn inline">
                            <span uib-dropdown class="inline">
                <button class="btn btn-green btn-round" id="new-tasks" uib-dropdown-toggle><i class="ln-circle-plus"></i> New Tasks</button>
                <ul class="dropdown-menu info-dropdown" uib-dropdown-menu role="menu" aria-labelledby="new-tasks">
                  <li role="menuitem"><a ng-click="assignSurveyor();">Assign Surveyor</a></li>
                  <li role="menuitem"><a href="">New JIR</a></li>
                  <li role="menuitem"><a href="">New ILA</a></li>
                  <li role="menuitem"><a href="">New ILR</a></li>
                  <li role="menuitem"><a href="">New LOR</a></li>
                  <li role="menuitem"><a href="">New Assessment</a></li>
                  <li role="menuitem"><a href="">New FSR</a></li>
                  <li role="menuitem"><a href="">New Invoice</a></li>
                </ul>
                </span>
                            <span uib-dropdown class="inline">
                  <button class="btn btn-blue btn-round" id="upload-files" uib-dropdown-toggle><i class="ln-cloud-upload"></i> Upload Files</button>
                  <ul class="dropdown-menu info-dropdown" uib-dropdown-menu role="menu" aria-labelledby="upload-files">
                    <li role="menuitem"><a href="">Upload Images</a></li>
                    <li role="menuitem"><a href="">Upload Documents</a></li>
                  </ul>
                </span>
                            <div class="padder"></div>
                            <button class="btn btn-orange btn-round"><i class="ln-register"></i> Start Survey</button>
                            <button class="btn btn-red btn-round" ng-click="newEmail();"><i class="ln-envelope"></i> Send Email</button>
                        </div>
                        <div class="pull-right">
                            <div class="compny text-right">
                                <h3>Varun Dhawan</h3>
                                <p>Surveyor</p>
                                <div class="pointer" uib-dropdown>
                                    <span class="greenbg" uib-dropdown-toggle>Invoicing</span>
                                    <ul class="dropdown-menu info-dropdown" uib-dropdown-menu role="menu">
                                        <li role="menuitem"><a href="">Surveying</a></li>
                                        <li role="menuitem"><a href="">Invoicing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-pic">
                        <span><img src="img/varun-khali.png" alt="Varun Dhawan" class="dp" /></span>
                        <img src="img/house/house-red.png" alt="Red House" class="info-house" />
                    </div>

                </div>
                <div class="profile-all">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="widget no-color">
                                <div class="activity-feed">
                                    <ul class="activity-timeline">
                                        <li>
                                            <span class="user-device"></span>
                                            <div class="user-activity">
                                                <div class="who-post-this">
                                                    <span><img src="img/varun-khali.png" alt="Varun Dhawan" /><img src="img/house/house-red.png" alt="Red House" class="house"></span>
                                                    <div class="who-post-detail">
                                                        <h3>Varun Dhawan <span class="vsmall">Surveyor</span></h3>
                                                        <span>Created a new <a href="">JIR #1106-1605-0246</a></span>
                                                        <i>23JUN2016, Thrusday, 18:23</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="user-device"></span>
                                            <div class="user-activity">
                                                <div class="who-post-this">
                                                    <span><img src="img/varun-khali.png" alt="Varun Dhawan" /><img src="img/house/house-red.png" alt="Red House" class="house"></span>
                                                    <div class="who-post-detail">
                                                        <h3>Varun Dhawan <span class="vsmall">Surveyor</span></h3>
                                                        <span>Sent a new message</span>
                                                        <i>23JUN2016, Thrusday, 18:24</i>
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <p>Hi! Survey was awesome.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="user-device"></span>
                                            <div class="user-activity emailed">
                                                <div class="who-post-this">
                                                    <span><img src="img/img-ph.png" alt="Music Broadcast Ltd" /></span>
                                                    <div class="who-post-detail">
                                                        <h3>Music Broadcast Ltd <span class="vsmall">Insured</span></h3>
                                                        <span>Sent an email</span>
                                                        <i>23JUN2016, Thrusday, 19:54</i>
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="e-subject">
                                                        <p class="strong">Sending all the required documents.</p>
                                                    </div>
                                                    <div class="e-message">
                                                        <p>Hello Varun, <br> I am sending you all the required documents. <br><br> PFA. <br> Thank you. <br> <br> With Regards, <br> Music Broadcast Ltd</p>
                                                    </div>
                                                    <div class="e-attachments">
                                                        <div class="row">
                                                            <div class="col-xs-6 col-md-3">
                                                                <div class="filebx">
                                                                    <div class="dl-bx">
                                                                        <i class="ln-download"></i>
                                                                    </div>
                                                                    <i class="ln-document"></i>
                                                                    <p>Vehicle Doc.docx</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget">
                                <div class="padding-border folder">
                                    <div class="row">
                                        <div class="col-xs-4 pointer" ng-click="viewJIR();"><img src="img/folder.png">
                                            <h6>JIR</h6>
                                        </div>
                                        <div class="col-xs-4 pointer"><img src="img/folder.png">
                                            <h6>ILA</h6>
                                        </div>
                                        <div class="col-xs-4 pointer"><img src="img/folder.png">
                                            <h6>ILR</h6>
                                        </div>
                                    </div>
                                    <div class="row mt20">
                                        <div class="col-xs-4 pointer"><img src="img/folder.png">
                                            <h6>LOR</h6>
                                        </div>
                                        <div class="col-xs-4 pointer"><img src="img/folder.png">
                                            <h6>Assesments</h6>
                                        </div>
                                        <div class="col-xs-4 pointer"><img src="img/folder.png">
                                            <h6>FSR</h6>
                                        </div>
                                    </div>
                                    <div class="row mt20">
                                        <div class="col-xs-4 pointer"><img src="img/folder.png">
                                            <h6>Others</h6>
                                        </div>
                                        <div class="col-xs-4 pointer"><img src="img/folder.png">
                                            <h6>Photos</h6>
                                        </div>
                                        <div class="col-xs-4 pointer"><img src="img/folder.png">
                                            <h6>Invoices</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>