<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Company Setup</a>
        </li>
        <li>
            <a ui-sref="user-list" >User List</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>User List</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">

                    <div class="widget-title">
                        <div class="pull-right">
                          <form class="search-form mr-form">
                              <input type="text" placeholder="Search Here..."/>
                              <button type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </form>
                            <a class="btn btn-primary" ui-sref="createuser">Add New</a>
                        </div>
                        <h3>List of Users</h3>
                    </div>
                    <div class="table-responsive" ng-show="totalItems>0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Employee Type</th>
                                    <th>Access</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in allUsers">
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.emp_type}}</td>
                                    <td>{{user.access}}</td>
                                    <td>{{user.status}}</td>
                                    <td>
                                      <a class="btn btn-primary" ui-sref="edituser({id:user._id})"><i class="fa fa-pencil"></i></a>
                                      <a class="btn btn-danger" ng-click="deleteUser(user._id)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
