<div class="relative">
    <input type="text" class="form-control" ng-model="search.modelData" ng-focus="showList();" ng-change="searchNew(search.modelData)" required>
    <ul class="ng-list" ng-show="listview">
        <li ng-repeat="l in list" ng-click="sendData(l._id,l.name);" ng-if="list.length>0">{{l.name}}</li>
        <li class="lightColor" ng-if="showCreate && search.modelData != ''" ng-click="createNew(search.modelData);">Click to create new "{{search.modelData|capitalize}}"</li>
    </ul>
</div>
