<div class="top-bar">
    <div class="logo">
        <a ui-sref="dashboard" title="Absolute"><img src="img/logo.png" alt="Absolute" height="45"></a>
         <div class="menu-options"><span class="menu-action"><i></i></span></div>
    </div>
    <!-- <form class="search-form">
        <input type="text" placeholder="Search Here..." />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form> -->
    <div class="quick-links">
        <ul>
            <li><a title="" class="show-stats red-skin"><i class="fa fa-power-off"></i></a></li>
        </ul>
    </div>
</div><!-- Top Bar -->
<header class="side-header light-skin opened-menu">
  <div class="admin-details">
      <span><img src="img/varun-khali.png" alt="" /></span>
      <h3>Arun Arora</h3>
      <i>CEO</i>
  </div>
    <div class="menu-scroll">
        <div class="side-menus">
            <span>MAIN LINKS</span>
            <nav ng-include="template.menu"></nav>
        </div>
    </div><!-- Menu Scroll -->
</header>
