<div class="modal-header green-bg with-button">
    <div class="pull-right">
        <div class="searchbox"><input type="text" class="form-control" placeholder="Search for Surveyors..."></div>
        <button class="btn btn-clear" ng-click="$dismiss()">
      <i class="ln-cross"></i>
    </button>
    </div>
    <h5 class="modal-title">Assign a new surveyor</h5>
</div>
<div class="modal-body">
    <table class="file-list table hover-btn">
        <tbody>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
            <tr>
                <td width="70">
                    <div class="img-thumbu">
                        <img src="img/surve.png" class="full-image">
                    </div>
                </td>
                <td>Manya Surve</td>
                <td width="150" class="text-right">
                    <button class="btn btn-success btn-show">Assign Now</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>