<form name="modalForm" ng-submit="addElements(modalData);$dismiss()">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <a class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
        </div>
        <h5 class="modal-title">Upload New Document  {{modalIndex}}</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>File Name*</label>
                    <input type="text" name="name" ng-model="modalData.name" class="form-control" required>
                    <div class="error-msg" ng-show="modalData.name.$invalid && modalData.name.$touched">Please Enter File Name</div>
                </div>
                <div class="form-group">
                    <label>Upload Document*</label>{{modalData.image}}
                    <upload-image ng-model="modalData.image"></upload-image>
                    <div class="error-msg" ng-show="modalData.image.$invalid && modalData.image.$touched">Please Upload Document</div>
                </div>
            </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary" type="submit" ng-disabled="modalData.$invalid">Upload File</button>
        </div>
    </div>
</form>
