<form name="modalForm" ng-submit="addElements(modalData);$dismiss()" class="min-hit">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <a class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
        </div>
        <h5 class="modal-title">Upload New Document</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>File Name*</label>
                    <input type="text" name="name" ng-model="modalData.name" class="form-control" required>
                    <div class="error-msg" ng-show="modalForm.name.$invalid && modalForm.name.$touched">Please Enter File Name</div>
                </div>
                <div class="form-group">
                    <label>Upload Document*</label>
                    <upload-image ng-model="modalData.image" no-view required></upload-image>
                    <div class="error-msg" ng-show="modalForm.image.$invalid && modalForm.image.$touched">Please Upload Document</div>
                </div>
            </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary btn-save" type="submit" ng-disabled="modalForm.$invalid">Save</button>
        </div>
    </div>
</form>
