<div class="modal-header blue-bg">
  <div class="pull-right">
    <button class="btn btn-darker btn-round btn-nopad">Create new</button>
    <button class="btn btn-clear" ng-click="$dismiss()">
      <i class="ln-cross"></i>
    </button>
  </div>
    <h5 class="modal-title">View JIRs</h5>
</div>
<div class="modal-body">
  <table class="file-list table">
    <thead>
      <tr>
        <th>#</th>
        <th>File Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>JIR-CC99-9999-9999-9999</td>
      <td><button class="btn btn-clear"><i class="ln-pencil"></i></button><button class="btn btn-clear"><i class="ln-trash2"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
