<div class="modal-header green-bg">
  <div class="pull-right">
    <button class="btn btn-clear" ng-click="$dismiss()">
      <i class="ln-cross"></i>
    </button>
  </div>
    <h5 class="modal-title">Send a message</h5>
</div>
<div class="modal-body">
  <div class="billing-sec no-float">
    <div class="row">
      <div class="col-md-12 field">
        <label>Message <span>*</span></label>
        <textarea></textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-green btn-round" type="submit">Send</button>
</div>
