<form name="modalForm" ng-submit="uploadDocument(modalData);$dismiss()">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <a class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
        </div>
        <h5 class="modal-title">Upload New Document</h5>
    </div>
    <div class="modal-body">
      <div class="row">
          <div class="col-md-4">
              <div class="form-group">
                  <label>Upload License Document</label>
                  <upload-image ng-model="modalData.licenseDoc" no-view></upload-image>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label>From</label>
                  <div class="input-group">
                      <input type="text" name="from" class="form-control" uib-datepicker-popup="{{format}}" ng-model="modalData.fromLicense" is-open="popup.fromLicense" datepicker-options="dateOptions" readonly/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="popup.fromLicense = true">
                              <i class="fa fa-calendar"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label>To</label>
                  <div class="input-group">
                      <input type="text" name="to" class="form-control" uib-datepicker-popup="{{format}}" ng-model="modalData.toLicense" is-open="popup.toLicense" datepicker-options="dateOptions" readonly/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="popup.toLicense = true">
                              <i class="fa fa-calendar"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
      </div>

        <div class="text-center">
          <button class="btn btn-primary" type="submit" ng-disabled="modalForm.$invalid">Upload File</button>
        </div>
    </div>
</form>
